#root {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-rows: 100vh 100vh;
  grid-template-columns: 1fr 1fr;
  background-color: var(--primary);
}

.presentation {
  font-size: 2rem;
}

.greetings {
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.profile {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: var(--secondary);
}

.profilePicture {
  border-radius: 50%;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  gap: 3rem;
}

.links a {
  transition: 0.1s;
}

.links a:hover {
  transform: scale(1.1);
}

@keyframes appear-left-animation {
  0% {left: -500px; color: transparent;}
  100% { left: 0px;}
}

@keyframes appear-right-animation {
  0% {left: 500px; color: transparent;}
  100% { left: 0px;}
}

.appear-left{
  position: relative;
  animation-name: appear-left-animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.appear-right{
  position: relative;
  animation-name: appear-right-animation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.cv{
  grid-row: 2/3;
}

.experience{
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.card{
  background-color: var(--secondary);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 2rem;
  width: 70%;
} 

.card-divider{
  width: 100%;
  height: 2px;
  background-color: var(--primary);
  border: none;
}

.card-body{
  width: 100%;
}

.card-body-title{
  font-size: 1.3em;
  font-weight: 500;
}

.professional{
  grid-column: 2/3;
}