#root {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-rows: 100vh 100vh;
}

.first-page{
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.greetings{
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile{
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilePicture{
  border-radius: 50%;
  filter: drop-shadow(var(--primary-color) 0rem 0rem 1rem);
}