@import "tailwindcss";

:root {
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
    
  --primary: #1e1e1e;
  --secondary: #3f8a4b;
  --highlight: #00ac72;
  --linkedin: #0A66C2;
  --github: #ffffff;
  --gmail: #c5221f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  width: 100%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


