@import "tailwindcss";

:root {
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
    
  --primary: #1e1e1e;
  --secondary: #3f8a4b;
  --highlight: #00ac72;
  --linkedin: #0A66C2;
  --github: #ffffff;
  --gmail: #c5221f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  width: 100%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.custom-scroll::-webkit-scrollbar { 
  background-color: oklch(0.147 0.004 49.25);
  color: white;
  height: 10px;
} 

.custom-scroll::-webkit-scrollbar-track { 
  /* Personaliza la pista de la barra de desplazamiento */ 
} 

.custom-scroll::-webkit-scrollbar-thumb { 
  /* Personaliza la miniatura de la barra de desplazamiento */ 
  background-color: oklch(0.704 0.14 182.503);
  height: 5px;
}


